@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Readex+Pro:wght@160..700&display=swap');
@import "tailwindcss";

@theme {
  --color-oxford-blue: oklch(32.1% 0.0204 233.84);
  --color-petrol-blue: oklch(44.99% 0.0432 252.44);
  --color-rainy-blue: oklch(62.17% 0.0294 234.29);
  --color-sky-blue: oklch(81.37% 0.0394 233.68);
  --color-ice-blue: oklch(93.43% 0.0197 245.64);
  --color-light-grey: oklch(97.02% 0 0);

  --font-kaisei: "Kaisei Opti", serif;
}

@layer base {
  a, button {
    font-family:"Readex Pro", sans-serif;
  }
}

.sharePopup {
  position: fixed;
  backdrop-filter: brightness(0.5);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.sharePopup>div {
  display: flex;
}

.shareStudy {
  background-color: var(--color-sky-blue);
  padding: 1.5rem;
  border-radius:.25rem;
  border-top-right-radius: 0;
}

.shareStudy h1 {
  font-size: 1.8rem;
  text-align: center;
  padding: 0 .5rem 1rem .5rem;
}

.shareStudy select {
  background-color: var(--color-petrol-blue);
  color: white;
  padding: .8rem;
  border-radius: .25rem;
  width: 100%;
  font-family: "Readex Pro", sans-serif;
}

.shareStudy label {
  font-size: 1.2rem;
  margin-top: 1rem;
  display: block;
}

.shareStudy input, .shareStudy textarea {
  border: solid 3px var(--color-petrol-blue);
  border-right: none;
  background-color: white;
  color: black;
  padding: .3rem;
  font-size: 1.2rem;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.share-link, .share-email {
  display: flex;

}

.copyBtn, .sendBtn {
  background-color: var(--color-petrol-blue);
  color: white;
  padding: .5rem;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.closeBtn {
  background-color: var(--color-petrol-blue);
  color: var(--color-sky-blue);
  padding: .1rem;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}