.questionName {
    margin-bottom: 1rem;
}

.questionName label {
    display: block;
    text-align: left;
    margin-bottom: .25rem;
}

.questionName input {
    background-color: #ffffff;
    padding: .5rem;
    border-radius: .25rem;
    width: 100%;
}

.questionName input:focus {
    outline: solid 3px var(--color-petrol-blue);
}

.removeBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 8px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
  }
  
  .removeBtn:hover {
    background-color: #d32f2f;
  }

  .itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .removeBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 8px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color .3s ease;
  }
  
  .removeBtn:hover {
    background-color: #d32f2f;
  }
  
  .removeBtn:disabled {
    display: none;
  }

  .itemBox {
    width: 100%;
    margin-top: .5rem;
}

.itemBox label {
    display: block;
    text-align: left;
    margin-bottom: .25rem;
}

.itemGroup {
    background-color: var(--color-sky-blue);
    padding: .5rem;
    border-radius: .25rem;
    text-align: left;
}

.itemGroup input {
    background-color: #ffffff;
    padding: .5rem;
    border-radius: .25rem;
    width: 100%;
}

.itemGroup input:focus {
    outline: solid 3px var(--color-petrol-blue);
}

.addItemBtn {
    background-color: var(--color-petrol-blue);
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: background-color .3s;
    cursor: pointer;
    margin: 1rem;
    justify-self: center;
}

.addItemBtn:hover {
    background-color: var(--color-oxford-blue);
}

.itemGroup h4 {
  margin-top: .5rem;
}

.singleOptionBox {
    background-color: var(--color-sky-blue);
    padding: .5rem;
    border-left: solid 3px var(--color-petrol-blue);
    margin-bottom: .5rem;
}

.singleOptionBox input:focus {
    outline: solid 3px var(--color-petrol-blue);
}

.singleOptionBox label {
    margin-bottom: 0;
}

.infoBox {
    background-color: var(--color-sky-blue);
    padding: .5rem;
    border-radius: .25rem;
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    color: var(--color-oxford-blue);
}

.infoBox svg {
    font-size: 1.3rem;
    margin-right: .25rem;
    flex-shrink: 0;
    width: 1.3rem;
    height: 1.3rem;
    min-width: 1.3rem;
}