@import "tailwindcss";

@theme {
  --color-oxford-blue: oklch(32.1% 0.0204 233.84);
  --color-petrol-blue: oklch(44.99% 0.0432 252.44);
  --color-rainy-blue: oklch(62.17% 0.0294 234.29);
  --color-sky-blue: oklch(81.37% 0.0394 233.68);
  --color-ice-blue: oklch(93.43% 0.0197 245.64);
  --color-light-grey: oklch(97.02% 0 0);

  --font-frank: "Frank Ruhl Libre", serif;
  --font-readex: "Readex Pro", sans-serif;
}

@layer base {
  a, button {
    font-family: var(--font-readex);
    cursor: pointer;
  }
}
.detailsPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.question-type {
  width: 50%;
  margin: 0 auto;
}

.question-type h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.sharePopup{
  position: fixed;
  backdrop-filter: brightness(0.5);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.sharePopup>div, .detailsPopup>div {
  display: flex;
}

.shareStudy, .studyDetails {
  background-color: var(--color-sky-blue);
  padding: 1.5rem;
  border-radius:.25rem;
  border-top-right-radius: 0;
}

.shareStudy h1, .studyDetails h1 {
  font-size: 1.8rem;
  text-align: center;
  padding: 0 .5rem 1rem .5rem;
}

.shareStudy select, .studyDetails select {
  background-color: var(--color-petrol-blue);
  color: white;
  padding: .8rem;
  border-radius: .25rem;
  width: 100%;
  font-family: var(--font-readex);
  font-weight: 300;
  appearance: none;
  padding-left: 3rem;
  cursor: pointer;
}

.shareStudy select:focus, .studyDetails select:focus {
  outline: none;
}

.shareStudy select:hover, .studyDetails select:hover {
  outline: solid 3px white;
}

.shareStudy label, .studyDetails h2 {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: .3rem;
  display: block;
}

.shareStudy input, .shareStudy textarea {
  border: solid 3px var(--color-petrol-blue);
  border-right: none;
  background-color: white;
  color: black;
  padding: .3rem;
  font-size: 1.1rem;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  min-width: 25ch;
}

.shareStudy input:focus, .shareStudy textarea:focus {
  outline: none;
  border: solid 3px var(--color-oxford-blue);
}

.share-link, .share-email {
  display: flex;
}

.copyBtn, .sendBtn {
  background-color: var(--color-petrol-blue);
  color: white;
  padding: .5rem;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: background-color .3s, color .3s;
}

.copyBtn:hover, .sendBtn:hover {
  background-color: var(--color-oxford-blue);
}

.closeBtn {
  background-color: var(--color-petrol-blue);
  color: var(--color-sky-blue);
  padding: .1rem;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  transition: background-color .3s, color .3s;
}

.closeBtn:hover {
  background-color: var(--color-oxford-blue);
  color: white;
}

.copiedLink::before {
  content: "Copied!";
  color: white;
  font-size: .8rem;
  margin-bottom: 4.5rem;
  position: absolute;
  background-color: var(--color-petrol-blue);
  padding: .2rem .5rem;
  border-radius: .25rem;
}

.sentEmails::before {
  content: "Sent!";
  color: white;
  font-size: .8rem;
  margin-bottom: 4.5rem;
  position: absolute;
  background-color: var(--color-petrol-blue);
  padding: .2rem .5rem;
  border-radius: .25rem;
}

.dropDownIcon {
  position: absolute;
  color: var(--color-sky-blue);
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: .8rem;
  pointer-events: none;
}

.closePopupBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.studyDetails table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-weight: 300;
  background-color: var(--color-ice-blue);
  border-radius: .25rem;
}

.studyDetails tr {
  border-bottom: solid 2px var(--color-sky-blue);
  padding: .5rem;
  font-weight: 500;
}

.studyDetails tr:last-child {
  border: none;
}

.studyDetails td {
  padding: .5rem;
  color: black;
  font-weight: 300;
  border-right: solid 2px var(--color-sky-blue);
}

.studyDetails td>div {
  display: flex;
  align-items: center;
}

.studyDetails td:last-child {
  border: none;
  text-align: center;
}

.studyDetails td>div>svg {
  font-size: 1.4rem;
  margin-right: .3rem;
  display: inline-block;
}

.study-info>p {
  display: flex;
  background-color: var(--color-ice-blue);
  padding: .5rem .6rem;
  border-radius: .25rem;
  color: black;
  margin-bottom: .5rem;
  align-items: center;
}

.study-info>p>svg {
  font-size: 1.2rem;
  margin-right: .3rem;
}

.details-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: .5rem;
}

.details-options button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: .5rem;
  border-radius: .25rem;
  cursor: pointer;
}

.details-options button>svg {
  font-size: 1.2rem;
  margin-right: .3rem;
}

.defaultBtn {
  background-color: var(--color-petrol-blue);
}

.defaultBtn:hover {
  background-color: var(--color-oxford-blue);
}

.yellowBtn {
  background-color: #BE833F;
}

.yellowBtn:hover {
  background-color: #a56e2e;
}

.redBtn {
  background-color: #BE3F3F;
}

.redBtn:hover {
  background-color: #a42c2c;
}

.greenBtn {
  background-color: #3FBE47;
}

.greenBtn:hover {
  background-color: #2ca42c;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: solid 3px var(--color-petrol-blue);
}

input[type="range"]::-webkit-slider-thumb:active {
  background: #d6d6d6;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: solid 3px var(--color-petrol-blue);
}

input[type="range"]::-moz-range-thumb:active {
  background: #d6d6d6;
}

/* phone screens */
@media (max-width: 640px) {
  .viewport-participant {
    width: auto;
  }

  .buttons-mobile {
    justify-content: center;
  }

  .button-box {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .main-viewport {
    padding: 1rem;
  }
}

