.addQuestionPopup {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addQuestionMenu {
    background-color: var(--color-sky-blue);
    padding: 1.5rem;
    border-radius:.25rem;
    border-top-right-radius: 0;
    max-height: 90vh;
    overflow: auto;
    max-width: 50vw;
}

.addQuestionPopup>div {
    display: flex;
  }

  .addQuestionMenu>div {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
  }

.addQuestionMenu h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.addQuestionMenu button {
    background-color: var(--color-petrol-blue);
    color: white;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: background-color .3s;
    cursor: pointer;
    font-family: var(--font-readex);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
}

.addQuestionMenu button:hover {
    background-color: var(--color-oxford-blue);
}

.addQuestionMenu button>img {
    background-color: var(--color-ice-blue);
    padding: .5rem;
    border-radius: .25rem;
    margin: .25rem 0;
    width: 5rem;
    height: 5rem;
}